---
layout: layouts/base_layout.vto
type: toplevel
nav_label: FAQ
page_name: FAQ
templateEngine: [vto, md]
---

<h1 class="text-4xl font-bold text-center" data-pagefind-meta="title" data-pagefind-body>
    Frequently Asked Questions
</h1>


{{for question of questions}}
<div class="p-2 text-lg font-semibold" id="{{question.id}}">
    {{ question.question }}
    <div class="text-sm ml-2 font-normal">
        {{ question.answer}}
    </div>

</div>



{{/for}}