@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply underline
    }

    p {
        @apply font-outfit
    }

    .arm64 {
        @apply bg-violet-300
    }

    .arm {
        @apply bg-blue-400
    }

    .x64 {
        @apply bg-yellow-300
    }

    .x86 {
        @apply bg-gray-300
    }

    .neutral {
        @apply bg-cyan-400
    }

    body {
        --pagefind-ui-primary: #eeeeee;
        --pagefind-ui-text: #eeeeee;
        --pagefind-ui-background: #152028;
        --pagefind-ui-border: #152028;
        --pagefind-ui-tag: #152028;
    }

}