<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>{{ title }}</title>
</head>



<body class="bg-science-blue-950 flex flex-col min-h-screen justify-between">
    <header>
        <nav class=" bg-science-blue-800 text-gray-50 py-4">
            <div class="container mx-auto 2xl:px-96 lg:px-64 md:px-32 sm:px-16 px-4 flex justify-between items-center">
                <div class="flex ">
                    <a class="text-2xl font-bold px-2 no-underline text-white" href="/">WOAR?</a>
                </div>
                <div class="flex gap-4 h-full">
                    {{for page of search.pages("type=toplevel")}}
                    <a class="h-full text-white {{if page.nav_label == page_name}} underline {{else}} no-underline {{/if}}"
                        href="{{page.url}}">{{page.nav_label}}</a>
                    {{/for}}
                </div>
            </div>
        </nav>
    </header>
    <main class="container mx-auto 2xl:px-96 lg:px-64 md:px-32 sm:px-16 px-4  text-white mb-auto">
        {{ content }}
    </main>

    <footer class="justify-center  bg-science-blue-800 items-center flex text-white">
        <div class="w-3/4 justify-center flex py-4 align-middle text-center flex-col">
            <p class="text-center"> made with 💕 by <a class="underline" href="https://github.com/Jyodann">jyodann</a> ©
                2024</p>
        </div>
    </footer>
</body>

</html>