<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>{{ title }}</title>
</head>

<body class="container mx-auto md:px-16 px-4 bg-slate-800 text-white">
    <div>
        {{ content }}
    </div>
</body>

</html>